# Database
DB_CONNECTION=Server=localhost;Port=3306;Database=growthai_dev;User=root;Password=root123;

# JWT
JWT_SECRET=GrowthAI_SuperSecretKey_2026_MustBeAtLeast32Chars!
JWT_ISSUER=GrowthAI
JWT_AUDIENCE=GrowthAI_Clients
JWT_EXPIRES_MINUTES=1440

# Redis
REDIS_CONNECTION=localhost:6379
