## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/

## NuGet
*.nupkg
*.snupkg
**/packages/*

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/

## IDE
.idea/
*.swp
*~

## Node
node_modules/
dist/

## Environment
.env

## OS
.DS_Store
Thumbs.db

## Temp
_temp/
_project/
*.bak
